{% extends "base.html" %}
{% set short_title = title + " Dashboard" %}
{% set long_title = title + " Dashboard" %}
{% set back_link = ".." %}

{% block scripts %}
    {{ super() }}
    {{ macros.jquery_ui() }}
    {{ macros.google_jsapi() }}
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["gauge"]});
        google.setOnLoadCallback(setup_gauges);

        // Constants and globals
        var sensor_globals = {};
        {% for sensor in info.keys() %}
            var {{sensor}}_globals = {
              data: null,
              gauge: null,
              options: {
                width: 235, height: 235,
                min: {{info[sensor]["range"][0]}},
                max: {{info[sensor]["range"][1]}},
                greenFrom: {{info[sensor]["range"][0]}},
                greenTo: {{info[sensor]["range"][1]}},
                greenColor: '#DC3912',
                yellowFrom: {{info[sensor]["yellow"][0]}},
                yellowTo: {{info[sensor]["yellow"][1]}},
                redFrom: {{info[sensor]["green"][0]}},
                redTo: {{info[sensor]["green"][1]}},
                redColor: '#109618',
                majorTicks: {{info[sensor]["ticks"] | safe}}
              }
            }
            sensor_globals["{{sensor}}"] = {{sensor}}_globals;
        {% endfor %}
        var sensor_api = SensorAPI("http://cityfarm.media.mit.edu:8383");
        sensor_api.boards.fetch({async: false});
        sensor_api.sensors.fetch({async: false});
        sensor_api.measurements.fetch({async: false});
        var board = sensor_api.boards.get("{{board_id}}");

        function setup_gauges() {
            {% for sensor in info.keys() %}
              sensor_globals["{{sensor}}"].data = new google.visualization.DataTable();
              sensor_globals["{{sensor}}"].data.addColumn('string','Label');
              sensor_globals["{{sensor}}"].data.addColumn('number','Value');
              sensor_globals["{{sensor}}"].data.addRow(["{{sensor}}", 0]);
              var {{sensor}}_div = $("#{{sensor}}_gauge")[0];
              sensor_globals["{{sensor}}"].gauge = new google.visualization.Gauge({{sensor}}_div);
              sensor_globals["{{sensor}}"].gauge.draw(sensor_globals["{{sensor}}"].data, sensor_globals["{{sensor}}"].options);
            {% endfor %}
            update_sensors();
        }

        function update_sensors() {
          _.each(board.get("sensors"), function(sensor_id) {
            var sensor = sensor_api.sensors.get(sensor_id);
            sensor.get_value(function(value) {
              var measurement = sensor_api.measurements.get(sensor.get("measurement"));
              var name = measurement.get("name");
              sensor_globals[name].data.setCell(0, 1, value);
              sensor_globals[name].gauge.draw(sensor_globals[name].data, sensor_globals[name].options)
            });
          });
        }

        $(function() {
            setInterval(update_sensors, 10*1000);
        });
    </script>
    <style>
        #gauge-row {
            margin: 0;
        }
        #gauge-row div {
            padding: 0;
        }
        #gauge-row div table {
            margin: 0 auto !important;
        }
        .hasDatepicker {
            display: inline-block;
        }
    </style>
{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-lg-10 col-md-12">
            <div id="gauge-row" class="row">
                {% for sensor in info.keys() %}
                <div id="{{sensor}}_gauge" class="col-md-3 col-sm-4 col-xs-12"></div>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-2 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">View Sensor History For...</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills">
                        <li><a href="hour_graphs.html">The Past Hour</a></li>
                        <li><a href="day_graphs.html">Today</a></li>
                        <li><a data-toggle="modal" data-target="#date_modal">
                            A Specific Date
                        </a></li>
                        <li><a data-toggle="modal" data-target="#date_range_modal">
                            A Range of Dates
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="date_range_modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Select a Range of Dates</h4>
                </div>
                <div class="modal-body text-center">
                    <div id="rangepickerfrom"></div>
                    <div id="rangepickerto"></div>
                    <script type="text/javascript">
                        $(function() {
                            $("#rangepickerfrom").datepicker({
                                maxDate: -1,
                                defaultDate: -1,
                                showOtherMonths: true,
                                selectOtherMonths: true,
                                onSelect: function(dateText, inst) {
                                    $("#rangepickerto").datepicker("option",
                                        "minDate", dateText);
                                }
                            });
                            $("#rangepickerto").datepicker({
                                maxDate: -1,
                                defaultDate: -1,
                                showOtherMonths: true,
                                selectOtherMonths: true
                            });
                        });
                    </script>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">
                        Cancel
                    </button>
                    <script type="text/javascript">
                        function goToRange() {
                            var start_date = $("#rangepickerfrom").val();
                            var end_date = $("#rangepickerto").val();
                            window.location.href = "date_range_graphs.html?start_"+
                                "date="+start_date+"&end_date="+end_date;
                        }
                    </script>
                    <button class="btn btn-default" onclick="goToRange()">
                        Go
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="date_modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Select a Date</h4>
                </div>
                <div class="modal-body text-center">
                    <div id="datepicker"></div>
                    <script type="text/javascript">
                        $(function() {
                            $("#datepicker").datepicker({
                                maxDate: 0,
                                defaultDate: 0,
                                dhowOtherMonths: true,
                                selectOtherMonths: true
                            });
                        });
                    </script>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">
                        Cancel
                    </button>
                    <script type="text/javascript">
                        function goToDate() {
                            var _date = $("#datepicker").val();
                            window.location.href = "day_graphs.html?date=" + _date;
                        }
                    </script>
                    <button class="btn btn-default" onclick="goToDate()">
                        Go
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
