{% extends "base_html_template.html" %}
{% set short_title = "Systems" %}
{% set long_title = "Select a System to Monitor" %}
{% set back_link = "/" %}

{% block page %}
    <h1>Pick a System</h1>

    <br />

    <ul class="nav nav-pills nav-justified">
        <li class="divider-horizontal"></li>
        {% for link, title in databases.iteritems() %}
        <li><a href="{{link}}" class="bg-info"><h2>{{title}}</h2></a></li>
        <li class="divider-horizontal"></li>
        {% endfor %}
    </ul>
{% endblock %}
