{% macro draw_overlay(info, sensor) %}
    var cli = {{sensor}}_chart.getChartLayoutInterface();
    var divArea = $("#{{sensor}}_chart").position();
    var chartArea = cli.getChartAreaBoundingBox();
    var greenRange = {{info[sensor]["green"] | safe}};
    var yellowRange = {{info[sensor]["yellow"] | safe}};
    var redRange = {{info[sensor]["range"] | safe}};

    var currTop = chartArea.top;
    var currBottom = cli.getYLocation(yellowRange[1]);
    var currHeight = currBottom-currTop;
    var currTag = $("#{{sensor}}_red_overlay_top");
    currTag.css("height",currHeight);
    currTag.css("width",chartArea.width);
    currTag.css("top",divArea.top+currTop);
    currTag.css("left",divArea.left+chartArea.left);

    currTop = currBottom;
    currBottom = cli.getYLocation(greenRange[1]);
    var currHeight = currBottom-currTop;
    var currTag = $("#{{sensor}}_yellow_overlay_top");
    currTag.css("height",currHeight);
    currTag.css("width",chartArea.width);
    currTag.css("top",divArea.top+currTop);
    currTag.css("left",divArea.left+chartArea.left);

    currTop = currBottom;
    currBottom = cli.getYLocation(greenRange[0]);
    var currHeight = currBottom-currTop;
    var currTag = $("#{{sensor}}_green_overlay");
    currTag.css("height",currHeight);
    currTag.css("width",chartArea.width);
    currTag.css("top",divArea.top+currTop);
    currTag.css("left",divArea.left+chartArea.left);

    currTop = currBottom;
    currBottom = cli.getYLocation(yellowRange[0]);
    var currHeight = currBottom-currTop;
    var currTag = $("#{{sensor}}_yellow_overlay_bottom");
    currTag.css("height",currHeight);
    currTag.css("width",chartArea.width);
    currTag.css("top",divArea.top+currTop);
    currTag.css("left",divArea.left+chartArea.left);

    currTop = currBottom;
    currBottom = chartArea.top+chartArea.height;
    var currHeight = currBottom-currTop;
    var currTag = $("#{{sensor}}_red_overlay_bottom");
    currTag.css("height",currHeight);
    currTag.css("width",chartArea.width);
    currTag.css("top",divArea.top+currTop);
    currTag.css("left",divArea.left+chartArea.left);
{% endmacro %}
{% macro overlay_divs(sensor) %}
    <div id="{{sensor}}_red_overlay_top" class="red_overlay"></div>
    <div id="{{sensor}}_yellow_overlay_top" class="yellow_overlay"></div>
    <div id="{{sensor}}_green_overlay" class="green_overlay"></div>
    <div id="{{sensor}}_yellow_overlay_bottom" class="yellow_overlay"></div>
    <div id="{{sensor}}_red_overlay_bottom" class="red_overlay"></div>
{% endmacro %}
