{% extends "base_html_template.html" %}

{% set waterSensorURL = "/sensors/"+ current_database +"/Water" %}
{% set airSensorURL = "/sensors/" + current_database + "/Atmospheric" %}
{% set long_title = databases[current_database] %}

{% block page %}
<div class="platos-page container-fluid">
    <div >
        <h2>{{ long_title }}<h2>
    </div>
	<div class="container-fluid">
		<div class="row">
			{% for link, name in collections.iteritems() %}
			{% if sensor_type in name %}
			<div class="col-md-4">
				<div class="callout callout-green" >
					<h3><a href={{sensor_type}}/{{link}}>{{name}}</a></h3>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
		<hr>
		<ul class="nav nav-pills nav-justified">
	        {% for link, title in databases.iteritems() %}
	        <li class="btn">
	        	<a href="/{{ link }}" class="bg-info"><h2>{{title}}</h2></a>
	        </li>
	        {% endfor %}
		</ul>
	</div>
</div>
{% endblock %}