.green_overlay {
    position: absolute;
    background: rgba(16,150,24,0.3);
    z-index: -1;
}
.yellow_overlay {
    position: absolute;
    background: rgba(255,153,0,0.3);
    z-index: -1;
}
.red_overlay {
    position: absolute;
    background: rgba(220,57,18,0.3);
    z-index: -1;
}
