{% extends "selection.html" %}
{% block short_title %}Select a Database{% endblock %}
{% block long_title %}Select a Database to Monitor{% endblock %}
{% block options %}
    {{ list_options(databases) }}
{% endblock %}
{% block content %}
    {{ super() }}
    <div class="space"></div>
    <div style="display: inline-block">
        <h1>OR</h1>
    </div>
    <div class="space"></div>
    <div style="display: inline-block">
        </br />
        {{ list_options({"/plants":"Browse Plants"}) }}
    </div>
{% endblock %}
