{% import "macros.html" as macros %}
<html>
    <head>
        <title>New Plant</title>
        {{ macros.jQuery() }}
        {{ macros.jsonform() }}
        <style>
            .icon-plus-sign {
                border: 10px solid black;
            }
            .icon-minus-sign {
                border: 10px solid red;
            }
        </style>
        <script src="/static/js/plants.js"></script>
        <script type="text/javascript">
            var plant_types = [];
            $(function() {
                $.get("/plant_types.json", function(data) {
                    for (var i = 0; i < data.length; i++) {
                        plant_types[i] = data[i].common_name;
                    }
                    setup_form();
                }, "json");
            });
            function setup_form() {
                $.get("/static/schema/plant.json", function(data) {
                    var defaults = {{plant | safe}};
                    data.properties.type.enum = plant_types;
                    $('form').jsonForm({
                        schema: data,
                        value: defaults,
                        displayErrors: _jsonform_display_errors
                    });
                    $('[name="id"]').prop('readonly',true);
                }, "json");
            }
        </script>
    </head>
    <body>
        {{ macros.back_button("/plants/by-id/" + plant.id) }}
        {{ macros.title("Editing a Plant") }}
        <form method="post"></form>
    </body>
</html>
