{% import "macros.html" as macros %}
<html>
<head>
    <title>{% block short_title %}{% endblock %}</title>
    {% block includes %}
        {{ macros.google_jsapi() }}
        {{ macros.jQuery() }}
        <link rel="stylesheet" tyle="text/css" href="/static/style/graph_overlay.css" />
    {% endblock %}
    {% block style %}
    {% endblock %}
    <script type="text/javascript">
        // Define global variables
        {% block constants %}
            {% for sensor in info.keys() %} var {{sensor}}_data; {% endfor %}
        {% endblock %}
        google.load("visualization","1.1",{packages:
            {% block google_packages %}{% endblock %}});
        google.setOnLoadCallback(loadGraphs);

        // Main function to load the visualization
        function loadGraphs() {
            {% block load_graphs %}
            $.get(dataURL, function(res) {
                var data = res.data
                for (var i = 0; i < data.length; i++) {
                    var point = data[i];
                    processPoint(point);
                }
                {% block handle_stats %}
                {% endblock %}
                drawGraphs();
            }, "json");
            {% endblock %}
        }
        function processPoint(point) {
            var timestamp = new Date(point.date*1000);
            {% for sensor in info.keys() %}
                try {
                    var {{sensor}}_value = point.{{sensor}};
                    {% if sensor == "ORP" %}
                        {{sensor}}_value = Math.abs({{sensor}}_value);
                    {% endif %}
                    if ({{sensor}}_value == 0) {
                        {{sensor}}_value = null;
                    }
                    {{sensor}}_data.addRow([timestamp, {{sensor}}_value]);
                }
                catch(err) {}
            {% endfor %}
        }
        function drawGraphs() {
            {% macro draw_overlay(sensor) %}
                var cli = {{sensor}}_chart.getChartLayoutInterface();
                var divArea = $("#{{sensor}}_chart").position();
                var chartArea = cli.getChartAreaBoundingBox();
                var greenRange = {{info[sensor]["green"] | safe}};
                var yellowRange = {{info[sensor]["yellow"] | safe}};
                var redRange = {{info[sensor]["range"] | safe}};

                var currTop = chartArea.top;
                var currBottom = cli.getYLocation(yellowRange[1]);
                var currHeight = currBottom-currTop;
                var currTag = $("#{{sensor}}_red_overlay_top");
                currTag.css("height",currHeight);
                currTag.css("width",chartArea.width);
                currTag.css("top",divArea.top+currTop);
                currTag.css("left",divArea.left+chartArea.left);

                currTop = currBottom;
                currBottom = cli.getYLocation(greenRange[1]);
                var currHeight = currBottom-currTop;
                var currTag = $("#{{sensor}}_yellow_overlay_top");
                currTag.css("height",currHeight);
                currTag.css("width",chartArea.width);
                currTag.css("top",divArea.top+currTop);
                currTag.css("left",divArea.left+chartArea.left);

                currTop = currBottom;
                currBottom = cli.getYLocation(greenRange[0]);
                var currHeight = currBottom-currTop;
                var currTag = $("#{{sensor}}_green_overlay");
                currTag.css("height",currHeight);
                currTag.css("width",chartArea.width);
                currTag.css("top",divArea.top+currTop);
                currTag.css("left",divArea.left+chartArea.left);

                currTop = currBottom;
                currBottom = cli.getYLocation(yellowRange[0]);
                var currHeight = currBottom-currTop;
                var currTag = $("#{{sensor}}_yellow_overlay_bottom");
                currTag.css("height",currHeight);
                currTag.css("width",chartArea.width);
                currTag.css("top",divArea.top+currTop);
                currTag.css("left",divArea.left+chartArea.left);

                currTop = currBottom;
                currBottom = chartArea.top+chartArea.height;
                var currHeight = currBottom-currTop;
                var currTag = $("#{{sensor}}_red_overlay_bottom");
                currTag.css("height",currHeight);
                currTag.css("width",chartArea.width);
                currTag.css("top",divArea.top+currTop);
                currTag.css("left",divArea.left+chartArea.left);
            {% endmacro %}
            {% block draw_graphs %}
            {% endblock %}
        }
    </script>
</head>
<body>
    {{ macros.back_button("/"+database+"/"+collection) }}
    <div style="clear: both;"></div>
    {% block title %}<div style="text-align: center"><h1 id="title">
        {% block long_title %}{% endblock %}
    </h1></div>{% endblock %}
    {% macro overlay_divs(sensor) %}
        <div id="{{sensor}}_red_overlay_top" class="red_overlay"></div>
        <div id="{{sensor}}_yellow_overlay_top" class="yellow_overlay"></div>
        <div id="{{sensor}}_green_overlay" class="green_overlay"></div>
        <div id="{{sensor}}_yellow_overlay_bottom" class="yellow_overlay"></div>
        <div id="{{sensor}}_red_overlay_bottom" class="red_overlay"></div>
    {% endmacro %}
    {% macro stats_for(sensor) %}
        <p>Average value: <span id="{{sensor}}_average"></span></p>
    {% endmacro %}
    {% block content %}{% endblock %}
</body>
</html>
