{% extends "graphs.html" %}
{% block short_title %}Past Hour of Data{% endblock %}
{% block long_title %}The Past Hour of Sensor History{% endblock %}
{% block includes %}
    {{ super() }}
    {{ macros.socket_io() }}
{% endblock %}
{% block constants %}
    {{ super() }}
    var dataURL = "/{{database}}/{{collection}}/hour_data.json"
    var xMin = new Date();
    xMin.setHours(xMin.getHours()-1);
    {% for sensor in info.keys() %}
        var {{sensor}}_chart_options = {
            'hAxis': {
                'gridlines': {'color': '#999'},
                'minValue': xMin,
                'maxValue': new Date()
            },
            "vAxis": {
                "minValue": {{info[sensor]["range"][0]}},
                "maxValue": {{info[sensor]["range"][1]}},
                "viewWindowMode": "maximized",
                "ticks": {{info[sensor]["ticks"] | safe}},
                'gridlines': {'color': '#999'}
            },
            "legend": "none",
            "backgroundColor": "transparent"
        };
        var {{sensor}}_chart;
    {% endfor %}
{% endblock %}
{% block google_packages %}["corechart"]{% endblock %}
{% block load_graphs %}
    {% for sensor in info.keys() %}
        var {{sensor}}_div = document.getElementById('{{sensor}}_chart');
        {{sensor}}_chart = new google.visualization.LineChart({{sensor}}_div);
        {{sensor}}_data = new google.visualization.DataTable();
        {{sensor}}_data.addColumn('datetime', 'Date');
        {{sensor}}_data.addColumn('number', 'Value');
    {% endfor %}
    {{ super() }}
    var sockAddr="http://"+document.domain+":"+location.port+
        "/{{database}}/{{collection}}/data";
    var socket = io.connect(sockAddr);
    socket.on('data', function(point) {
        point = JSON.parse(point);
        processPoint(point);
        {% for sensor in info.keys() %}
            var cutoff = new Date((point.date-60*60)*1000);
            while ({{sensor}}_data.getValue(0,0) < cutoff) {
                {{sensor}}_data.removeRow(0);
            }
        {% endfor %}
        xMin = new Date();
        xMin.setHours(xMin.getHours()-1);
        {% for sensor in info.keys() %}
            {{sensor}}_chart_options.hAxis.minValue = xMin;
            {{sensor}}_chart_options.hAxis.maxValue = new Date();
        {% endfor %}
        drawGraphs();
    });
{% endblock %}
{% block draw_graphs %}
    {% for sensor in info.keys() %}
        window.setTimeout(function() {
            {{sensor}}_chart.draw({{sensor}}_data,{{sensor}}_chart_options);
        }, 100*{{loop.index0}});
        google.visualization.events.addListener({{sensor}}_chart, "ready", function() {
            {{ draw_overlay(sensor) }}
        });
    {% endfor %}
{% endblock %}
{% block content %}
    {% for sensor in info.keys() %}
        <h2>{{sensor}} Data</h2>
        <div>
            <div id="{{sensor}}_chart" style="height: 200px; text-align: center">
                <img src="/static/loading.gif">
            </div>
            {{ overlay_divs(sensor) }}
        </div>
        <br/><br/>
    {% endfor %}
{% endblock %}
