{% extends "base_html_template.html" %}


{% set short_title = "" %}
{% set long_title = "" %}



{% block page %}
<div class="jumbotron">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div id="welcome-text" style="padding:6px">
					<h1>Welcome to CityFARM!</h1>
					<p>As a part of the City Science Initiative at MIT Media Lab, we explore the technological, environmental, social, and economic design of scalable systems capable of producing affordable andhigh quality food in the heart of our future cities.</p>
					<p>To get see what we are growing now, choose a farm from above!</p>
					<p><small>Check out our <a href="http://mitcityfarm.media.mit.edu/"> website</a> too!</small></p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<img src="/static/img/CityFARM-teampic.jpg" style="width:100%">
			</div>
		</div>
	</div>
</div>

{% endblock %}