{# Includes #}
{% macro socket_io() %}
    <script src="/static/lib/socket.io.js"></script>
{% endmacro %}
{% macro google_jsapi() %}
    <script src="https://www.google.com/jsapi"></script>
{% endmacro %}
{% macro jQuery() %}
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
{% endmacro %}
{% macro jQuery_ui() %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
{% endmacro %}
{% macro bootstrap_css() %}
    <link rel="stylesheet" href="/static/style/bootstrap.min.css">
{% endmacro %}
{% macro jsonform() %}
    <script src="/static/lib/underscore-min.js"></script>
    <script src="/static/lib/jsv.js"></script>
    <script src="/static/lib/jsonform.js"></script>
    <link rel="stylesheet" href="/static/style/jsonform.css">
{% endmacro %}

{# Common UI Elements #}
{% macro back_button(link) %}
    <div style="float: left; margin-left: 25px"><a href="{{link}}"><h3>Back</h3></a></div>
{% endmacro %}
{% macro title(title_string) %}
    <div style="clear: both; text-align: center;"><h1 id="title">{{ title_string }}</h1></div>
{% endmacro %}
