{% macro bootstrap() %}
  <script type="text/javascript" src="{{ url_for('static',
    filename='lib/jquery/dist/jquery.js') }}">
  </script>
  
  <script type="text/javascript" src="{{ url_for('static',
    filename='lib/bootstrap/dist/js/bootstrap.js') }}">
  </script>
  <link rel="stylesheet" href="{{ url_for('static',
  filename='cityFarm.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',
  filename='lib/bootstrap/dist/css/bootstrap-theme.css') }}">
  <script type="text/javascript" src="{{ url_for('static',
    filename='lib/underscore/underscore.js') }}">
  </script>
  <script type="text/javascript" src="{{ url_for('static',
    filename='lib/backbone/backbone.js') }}">
  </script>
  <script type="text/javascript" src="{{ url_for('static',
    filename='lib/SensorClient.js/sensor_client.js') }}">
  </script>
  <script type="text/javascript" src="{{ url_for('static',
    filename='lib/d3/d3.js') }}">
  </script>

{% endmacro %}
{% macro UIJavascript() %}
  <script type="text/javascript" src="{{ url_for('static',
    filename='lib/angular/angular.js') }}">
  </script>
  <script type="text/javascript" src="{{ url_for('static',
    filename='lib/threejs/build/three.js') }}">
  </script>
    <script type="text/javascript" src="{{ url_for('static',
    filename='lib/threejs/examples/js/loaders/ColladaLoader.js') }}">
  </script>
  <script type="text/javascript" src="{{ url_for('static',
    filename='lib/DAT.GUI.js') }}">
  </script>
  <script type="text/javascript" src="{{ url_for('static',
    filename='lib/plantosJS/Plantos.js') }}">
  </script>
  <script type="text/javascript" src="{{ url_for('static',
    filename='lib/plantosJS/ReusableRay.js') }}">
  </script>
{% endmacro %}
{% macro videoFeed() %}
  <script src="http://cdn.peerjs.com/0.3/peer.js" type="text/javascript"> </script>
  <script type="text/javascript" src="{{ url_for('static',
    filename='lib/camera/viewer.js') }}"></script>
{% endmacro %}
{% macro datetimepicker() %}
  <script type="text/javascript" src="{{ url_for('static',
    filename='lib/moment/min/moment.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',
    filename='lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
    }}"></script>
  <link rel="stylesheet" href="{{ url_for('static',
  filename='lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
  }}">
{% endmacro %}

{% macro jquery_ui() %}
  <script type="text/javascript" src="{{ url_for('static',
    filename='lib/jquery-ui/jquery-ui.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static',
  filename='lib/jquery-ui/themes/smoothness/jquery-ui.css') }}">
{% endmacro %}

{% macro google_jsapi() %}
  <script src="https://www.google.com/jsapi"></script>
{% endmacro %}

{% macro socket_io() %}
  <script src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
{% endmacro %}

{% macro render_form(form, is_child) %}
  <form method="POST" class="form-horizontal">
    {{ render_fields(form) }}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
{% endmacro %}

{% macro render_fields(form) %}
  {% for field in form %}
  <div class="form-group{% if field.errors %} has-error{% endif %}">
    {{ field.label(class="col-sm-2 control-label") }}
    <div class="col-sm-10">
      {% if field.type == "FormField" %}
        {{ render_fields(field) }}
      {% else %}
        {% if field.type == "DateTimeField" %}
          <div class="input-group">
            {{ field(class="form-control") }}
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        {% else %}
          {{ field(class="form-control") }}
        {% endif %}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  {% if field.type == "DateTimeField" %}
  <script type="text/javascript">
    $(function() {
      var picker = $("#{{ field.id }}").parent().datetimepicker({
        showClear: true,
        showTodayButton: true,
        useCurrent: false,
        defaultDate: moment().startOf('day')
      }).data("DateTimePicker");
      {% if field.data %}
        picker.date(new Date("{{ field.data }}"));
      {% else %}
        picker.date(null);
      {% endif %}
    });
  </script>
  {% endif %}
  {% endfor %}
{% endmacro %}

{% macro jsonform() %}
  <script type="text/javascript" src="/static/lib/underscore/underscore.js"></script>
  <script type="text/javascript" src="/static/lib/jsonform/lib/jsonform.js"></script>
  {# JSV should always be loaded last because it modifies the global "exports"
     variable, which can cause some other modules to load incorrectly #}
  <script type="text/javascript" src="/static/lib/JSV/lib/jsv.js"></script>
  <link rel="stylesheet" href="/static/style/jsonform.css">
{% endmacro %}
