{# Includes #}
{% macro bootstrap() %}
    <script type="text/javascript" src="/static/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/bootstrap/dist/css/bootstrap-theme.min.css">
{% endmacro %}
{% macro jquery_ui() %}
    <script type="text/javascript" src="/static/lib/jquery-ui/jquery-ui.js"></script>
    <link rel="stylesheet" href="/static/lib/jquery-ui/themes/smoothness/jquery-ui.css">
{% endmacro %}
{% macro jsonform() %}
    <script type="text/javascript" src="/static/lib/underscore/underscore.js"></script>
    <script type="text/javascript" src="/static/lib/jsonform/lib/jsonform.js"></script>
    {# JSV should always be loaded last because it modifies the global "exports"
       variable, which can cause some other modules to load incorrectly #}
    <script type="text/javascript" src="/static/lib/JSV/lib/jsv.js"></script>
    <link rel="stylesheet" href="/static/style/jsonform.css">
{% endmacro %}
{% macro google_jsapi() %}
    <script src="https://www.google.com/jsapi"></script>
{% endmacro %}
{% macro socket_io() %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
{% endmacro %}
