{% import "macros.html" as macros %}
<html>
    <head>
        <title>New Plant Type</title>
        {{ macros.jQuery() }}
        {{ macros.jsonform() }}
        <script src="/static/js/plants.js"></script>
        <script type="text/javascript">
            $(function() {
                $.get("/static/schema/plant_type.json", function(data) {
                    $('form').jsonForm({
                        schema: data,
                        displayErrors: _jsonform_display_errors
                    });
                });
            });
        </script>
    </head>
    <body>
        {{ macros.back_button("/plants") }}
        {{ macros.title("Create a New Plant Type") }}
        <form method="post"></form>
    </body>
</html>
