<html>
    <head>
        <title>{% block short_title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/static/style/selection.css" />
    </head>
    <body>
        {% block back %}{% endblock %}
        {% macro vCenter() %}
            <div class="vCenter">
                {{ caller() }}
            </div>
        {% endmacro %}
        {% macro list_options(options) %}
            <div class="selections">
                <div style="display: table-row; position: relative">
                    {% for link,name in options.iteritems() %}
                        <a href="{{ link }}">
                            <div class="selection">
                                <h2>{{ name }}</h2>
                            </div>
                        </a>
                        {% if not loop.last %}<div class="table-space"></div>{% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endmacro %}
        {% call vCenter() %}
            {% block content %}
            <div style="display: inline-block">
                <h1>{% block long_title %}{% endblock %}</h1>
                <br />
                {% block options %}{% endblock %}
            </div>
            {% endblock %}
        {% endcall %}
    </body>
</html>
