{% extends "base.html" %}

{% set short_title = databases[current_database] %}
{% set long_title = databases[current_database] %}

{% block scripts %}
    {{ super() }}
    {{ macros.jquery_ui() }}
    {{ macros.google_jsapi() }}
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["gauge"]});
        google.setOnLoadCallback(setup_gauges);

        // Constants and globals
        var sensor_globals = {};
        {% for sensor in sensor_info.keys() %}
            var {{sensor}}_globals = {
              data: null,
              gauge: null,
              options: {
                width: 235, height: 235,
                min: {{sensor_info[sensor]["range"][0]}},
                max: {{sensor_info[sensor]["range"][1]}},
                greenFrom: {{sensor_info[sensor]["range"][0]}},
                greenTo: {{sensor_info[sensor]["range"][1]}},
                greenColor: '#DC3912',
                yellowFrom: {{sensor_info[sensor]["yellow"][0]}},
                yellowTo: {{sensor_info[sensor]["yellow"][1]}},
                redFrom: {{sensor_info[sensor]["green"][0]}},
                redTo: {{sensor_info[sensor]["green"][1]}},
                redColor: '#109618',
                majorTicks: {{sensor_info[sensor]["ticks"] | safe}}
              }
            }
            sensor_globals["{{sensor}}"] = {{sensor}}_globals;
        {% endfor %}
        var sensor_api = SensorAPI("http://cityfarm.media.mit.edu:8383");
        sensor_api.boards.fetch({async: false});
        sensor_api.sensors.fetch({async: false});
        sensor_api.measurements.fetch({async: false});
        var board = sensor_api.boards.get("{{board_id}}");

        function setup_gauges() {
            {% for sensor in sensor_info.keys() %}
              sensor_globals["{{sensor}}"].data = new google.visualization.DataTable();
              sensor_globals["{{sensor}}"].data.addColumn('string','Label');
              sensor_globals["{{sensor}}"].data.addColumn('number','Value');
              sensor_globals["{{sensor}}"].data.addRow(["{{sensor}}", 0]);
              var {{sensor}}_div = $("#{{sensor}}_gauge")[0];
              sensor_globals["{{sensor}}"].gauge = new google.visualization.Gauge({{sensor}}_div);
              sensor_globals["{{sensor}}"].gauge.draw(sensor_globals["{{sensor}}"].data, sensor_globals["{{sensor}}"].options);
            {% endfor %}
            update_sensors();
        }

        function update_sensors() {
          _.each(board.get("sensors"), function(sensor_id) {
            var sensor = sensor_api.sensors.get(sensor_id);
            sensor.get_value(function(value) {
              var measurement = sensor_api.measurements.get(sensor.get("measurement"));
              var name = measurement.get("name");
              sensor_globals[name].data.setCell(0, 1, value);
              sensor_globals[name].gauge.draw(sensor_globals[name].data, sensor_globals[name].options)
            });
          });
        }

        $(function() {
            setInterval(update_sensors, 10*1000);
        });
      </script>
    <style>
        #gauge-row {
            margin: 0;
        }
        #gauge-row div {
            padding: 0;
        }
        #gauge-row div table {
            margin: 0 auto !important;
        }
        .hasDatepicker {
            display: inline-block;
        }
    </style>
{% endblock %}

{% block page %}
<div class="platos-page container-fluid">
    <div >
        <h2>{{ long_title }}<h2>
    </div>

    <div class="row">

        <div id="plantTray">

        </div>
        <div class="col-xs-12 col-md-5 plantInfoBox">
           <div role="tabpanel" class="well">

              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist" id="infoBoxTabs">
                <li role="presentation" class="active"><a href="#plants" aria-controls="plants" role="tab" data-toggle="tab">Plants</a></li>
                <li role="presentation"><a href="#controls" aria-controls="controls" role="tab" data-toggle="tab">Controls</a></li>
                <li role="presentation"><a href="#sensorTab" aria-controls="messages" role="tab" data-toggle="tab">Sensors</a></li>
                <li role="presentation"><a href="#newPlant" aria-controls="messages" role="tab" data-toggle="tab">New Plant</a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="plants">
                    <h4>Click a plant!</h4>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="controls">
                    <h4>Coming soon!</h4>
                <!--
                    <h4>LEDs</h4>
                    <b>Color</b>
                    <select id="ledColorSelector" onChange="changeLEDColor();">
                    
                        <option>Red</option>
                        <option>Pink</option>
                        <option>Blue</option>
                        <option>Purple</option>
                        <option>White</option>
                    </select>
                -->
                </div>
                <div role="tabpanel" class="tab-pane fade" id="sensorTab">
                  <div class="row">
                    {% for sensor in sensor_info.keys() %}
                    <div id="{{sensor}}_gauge" class="col-md-6 col-sm-12"></div>
                    {% endfor %}
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="newPlant">
                    <h5 class="visible-xs visible-sm">Tap any plant below, then tap an empty location to plant it!</h5>
                    <h5 class="visible-md visible-lg">Drag any plant below to an empty location to plant it!</h5>
                    <div class="row" id="newPlant1"></div>
                    
                </div>
              </div>


            </div>
        </div>
    </div>
</div>

<script>
    //Draw System
    var system = "{{ current_database }}"
    var trayType = {{ tray|safe }};
    var plantLocations = {{ plantLocations|safe }};
    var plantInfo = {{ plants|safe }};
    var plantImgs = {{ plantImages|safe }}
    var lightColor = "Red";  //to come from system data
    var svgWidth, svgHeight;
    var boxdim, plantSize, imgSize;
    var padding, lightPadding, xplantPadding, yplantPadding, xScalar=1, yScalar=1;
    var plantIDs, plantsInBot;
    var outterBox, innerBox;
    var xScalePlant, yScalePlant;

    for(x in plantLocations){
        if (plantLocations[x][0]>xScalar){
            xScalar = plantLocations[x][0]
        }
        if (plantLocations[x][1]>yScalar){
            yScalar = plantLocations[x][1]
        }
    }
    var plantTray = d3.select("body").select("#plantTray")
                      .append("svg")
                      .attr("id", "#plantTraySvg");
    d3.selectAll(".tab-pane")
            .attr({
                "max-height":svgHeight,
                "width":"100%",
                "overflow-y":"scroll"
            })
    if (trayType == 0){
        d3.select("#plantTray").attr("class", "col-xs-12 col-md-5");
        drawGroBot();
    }
    else if (trayType == 1){
        d3.select("#plantTray").attr("class", "col-xs-12 col-md-7");
        drawFullNormalTray();
    }
    else if (trayType == 2){
        d3.select("#plantTray").attr("class", "col-xs-12 col-md-7");
        drawFullWeirdTray();
    }
    else if (trayType == 3){
        d3.select("#plantTray").attr("class", "col-xs-3");
        drawSelectTray(system, trayList);
    }
    function drawGroBot(){
        svgWidth = 430;
        svgHeight = 430;
        boxdim = 430;
        padding = 5;
        lightPadding = 15;
        plantSize = 30;
        imgSize = 50;
        xplantPadding = (boxdim-2*lightPadding)/5 - plantSize/2;
        yplantPadding = (boxdim-2*lightPadding)/4 - plantSize/2;
        //xScalar = 4;
        //yScalar = 5;
        drawTray();
    }
    function drawFullNormalTray(){
        svgWidth = 930;
        svgHeight = 530;
        padding = 3;
        lightPadding = 15;
        plantSize = 34;
        imgSize = 75;
        xplantPadding = (svgWidth-2*lightPadding)/11 - plantSize/2;
        yplantPadding = (svgHeight-2*lightPadding)/5 - plantSize/2;
        //xScalar = 11;
        //yScalar = 5;
        drawTray();
    }
    function drawFullWeirdTray(){
        svgWidth = 930;
        svgHeight = 530;
        padding = 3;
        lightPadding = 15;
        plantSize = 34;
        imgSize = 54;
        xplantPadding = (svgWidth-2*lightPadding)/12 - plantSize/2;
        yplantPadding = (svgHeight-2*lightPadding)/6 - plantSize/2;
        //xScalar = 12;
        //yScalar = 6;
        drawTray();
    }
    function drawTray(){
        plantTray.attr({
                "preserveAspectRatio": "xMinYMin meet",
                "viewBox": "0 0 " + svgWidth + " " + svgHeight
            });
        outterBox = plantTray.append("rect")
                          .attr({
                            "x": 0,
                            "y": 0,
                            "width": svgWidth,
                            "height": svgHeight,
                            "fill": lightColor,
                            "opacity": .4
                          });
        innerBox = plantTray.append("rect")
                         .attr({
                            "x": lightPadding,
                            "y": lightPadding,
                            "width": svgWidth-2*lightPadding,
                            "height": svgHeight-2*lightPadding,
                            "fill": "white"
                         });

        xScalePlant = d3.scale.linear()
                    .domain([1,xScalar])
                    .range([xplantPadding, svgWidth-lightPadding-plantSize- xplantPadding]);
        yScalePlant = d3.scale.linear()
                    .domain([yScalar,1])
                    .range([xplantPadding, svgHeight-lightPadding-xplantPadding]);
        for(i=0;i<plantLocations.length;i++){
            if (plantInfo[i]["image"] == ""){
                noImagePlant(plantLocations[i], i)
            }
            else{
                plantWithPic(plantLocations[i], i)
            }
        }
    }
    function noImagePlant(loc, i){
        var op = .9;
        var onclick = "plantClick(" + i + ")";
        var className = "hoverBox";
        var idName = "plant" + i;
        if (plantInfo[i]["plantName"]=="Not Planted"){
            op = .3;
            onclick = "";
            className = "noHover emptyPlant";
            idName = "emptyPlant"+i;
        }

        plantTray.append("rect")
                .attr({
                    "x": xScalePlant(loc[0]),
                    "y": yScalePlant(loc[1]),
                    "rx": 10,
                    "ry": 10,
                    "width": plantSize,
                    "height": plantSize,
                    "fill": "green",
                    "opacity":op,
                    "id": idName,
                    "data-num":i,
                    "onclick":onclick,
                    "class":className,
                    "stroke":"green",
                    "stroke-width":0,
                    "draggable":"true",
                    "ondrop":"drop(event," + i + ")",
                    "ondragover":"allowDrop(event)"
                });
    }
    function plantWithPic(loc, i){
        var xyFix = (imgSize-plantSize)/2;
        var className = "hoverImg";
        plantTray.append("image")
            .attr({
                "x": xScalePlant(loc[0])-xyFix,
                "y": yScalePlant(loc[1])-xyFix,
                "width": imgSize,
                "height": imgSize,
                "xlink:href":"/static/img/plantImg/" + plantInfo[i]["image"],
                "onclick":"plantClick(" + i + ")",
                "class":className,
                "box-shadow":"none"
            });
    }
    
    newPlantTab();
    function newPlantTab(){
        var tabPanels = d3.selectAll(".tab-pane")
        tabPanels.style("max-height", "375px");
        tabPanels.style("overflow-y", "scroll");
        tabPanels.style("width", "100%");
        var rowSize = "100px";
        for(i=0;i<plantImgs.length;i++){

            //row = d3.select("#newPlant").append("div").attr("class", "row").style("height", rowSize);
            newPlantSpace = d3.select("#newPlant1").append("div").attr("class","col-xs-3").style("height", rowSize);

            newPlantSpace.append("img")
                .attr({
                    "src":"/static/img/plantImg/" + plantImgs[i]["image"],
                    "height":"45%",
                    "draggable":"true",
                    "ondragstart":"drag(event, " + i + ")",
                    "ontouchstart":"tStart(event, " + i + ")",
                    "class":"hoverImg draggable",
                    "id":i,
                });
            newPlantSpace.append("h5")
                .text(plantImgs[i]["name"]);

        }
    }

    
    //Other Functions
    $('#infoBoxTabs a:first').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    });
    function changeLEDColor(){
        lightColor = $('#ledColorSelector').children("option:selected").text();
        outterBox.attr({"fill":lightColor});

    }
    function plantClick(plantID){
        $('#infoBoxTabs a:first').tab('show');
        var plantName = plantInfo[plantID]["plantName"];
        var dateSown = plantInfo[plantID]["dateSown"];
        box = d3.select("#plants")
        box.selectAll("*").remove();
        box.append("h4").text("Name: " + plantName);
        box.append("h4").text("Date Sown: " + dateSown)
    }
    function allowDrop(ev) {
        ev.preventDefault();
    }
    function drag(ev, i) {
        ev.dataTransfer.setData("data", i);
    }
    function drop(ev, i) {
        ev.preventDefault();
        var plantData = ev.dataTransfer.getData("data");
        var emptyPlantID = ev.target.id;
        d3.select("#"+emptyPlantID).attr("opacity",0).attr("id", "plant"+i).attr("class","oldEmptyPlant");

        if (plantInfo[i]["plantName"] == "Not Planted"){
            var sownNow = todayIs();
            var name = plantImgs[plantData]["name"];
            var newImg = plantImgs[plantData]["image"];
            var newPlantInfo = {"ip":plantInfo[i]["ip"], "plantName":name, "dateSown":sownNow, "image":newImg};
            plantInfo[i] = newPlantInfo;
            plantWithPic(plantLocations[i], i);
        }
    }
    function todayIs(){
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!

        var yyyy = today.getFullYear();
         
        var today = mm+'/'+dd+'/'+yyyy;
        return today;
    }
    var touchDragBool = false;
    var touchDragId = -1;
    function tStart(ev, i){
        ev.preventDefault();
        var touch = event.targetTouches[0];
        if(!touchDragBool || touchDragId !=i ){
            touchDragBool = true;
            touchDragId = i;
            var emptyPlants = d3.selectAll(".emptyPlant");
            emptyPlants.attr({
                "opacity":"1",
                "ontouchstart":"tDrag(event)"
            });
        }
        else{
            touchDragBool = false;
            touchDragId = (-1);
            var emptyPlants = d3.selectAll(".emptyPlant");
            emptyPlants.attr({
                "opacity":".3",
                "ontouchstart":""
            });
        }
    }
    function tDrag(ev){
        plantData = touchDragId;
        emptyPlantID = ev.target.id;
        touchDragBool = false;
        touchDragId = (-1);
        var emptyPlants = d3.selectAll(".emptyPlant");
        emptyPlants.attr({
            "opacity":".3",
            "ontouchstart":""
        });
        i = ev.target.getAttribute("data-num");
        d3.select("#"+emptyPlantID).attr("opacity",0).attr("id", "plant"+i).attr("class","oldEmptyPlant");
        if (plantInfo[i]["plantName"] == "Not Planted"){
            var sownNow = todayIs();
            var name = plantImgs[plantData]["name"];
            var newImg = plantImgs[plantData]["image"];
            var newPlantInfo = {"ip":plantInfo[i]["ip"], "plantName":name, "dateSown":sownNow, "image":newImg};
            plantInfo[i] = newPlantInfo;
            plantWithPic(plantLocations[i], i);
        }
    }
    
</script>

{% endblock %}
