{% extends "base.html" %}

{% block page %}
{{ macros.UIJavascript() }}
<style>
	#canvas{
		position:static;
	}
</style>
<link rel="stylesheet" href="/static/CFATestBuild1/TemplateData/style.css">
<link rel="shortcut icon" href="/static/CFATestBuild1/TemplateData/favicon.ico" />
<script src="TemplateData/UnityProgress.js"></script>
<style>
	body, html {
		width: 100%;
		height: 100%;
		border: 0px;
		padding: 0px;
		margin: 0px;
	}
</style>
<div class="container-fluid template" id="contFl">
	<div class="template-wrap clear">
		<canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" height="100%" width="100%"></canvas>
	</div>

	<!--
	<div class="row">
		<div class="col-md-8">
			<div id="canvas">
			</div>
		</div>
		<div class="col-md-3"
			<div id="datGui">
			</div>
		</div>
	</div>
	-->
</div>
<script type='text/javascript'>//Initialize module object
  // connect to canvas
  var Module = {
    filePackagePrefixURL: "/static/CFATestBuild1/Release/",
    memoryInitializerPrefixURL: "/static/CFATestBuild1/Release/",
    preRun: [],
    postRun: [],
    print: (function() {
      return function(text) {
        console.log (text);
      };
    })(),
    printErr: function(text) {
      console.error (text);
    },
    canvas: document.getElementById('canvas'),
    progress: null,
    setStatus: function(text) {
      if (this.progress == null) 
      {
        if (typeof UnityProgress != 'function')
          return;
        this.progress = new UnityProgress (canvas);
      }
      if (!Module.setStatus.last) Module.setStatus.last = { time: Date.now(), text: '' };
      if (text === Module.setStatus.text) return;
      this.progress.SetMessage (text);
      var m = text.match(/([^(]+)\((\d+(\.\d+)?)\/(\d+)\)/);
      if (m)
        this.progress.SetProgress (parseInt(m[2])/parseInt(m[4]));
      if (text === "") 
        this.progress.Clear()
    },
    totalDependencies: 0,
    monitorRunDependencies: function(left) {
      this.totalDependencies = Math.max(this.totalDependencies, left);
      Module.setStatus(left ? 'Preparing... (' + (this.totalDependencies-left) + '/' + this.totalDependencies + ')' : 'All downloads complete.');
    }
  };
  Module.setStatus('Downloading (0.0/1)');
</script>
<script src="/static/CFATestBuild1/Release/UnityConfig.js"></script>
<script src="/static/CFATestBuild1/Release/fileloader.js"></script>
<script>//Load App.js file
  if (!(!Math.fround)) {
    var script = document.createElement('script');
    script.src = "/static/CFATestBuild1/Release/CFATestBuild1.js";
    document.body.appendChild(script);
  } 
  else {
    var codeXHR = new XMLHttpRequest();
    codeXHR.open('GET', '/static/CFATestBuild1/Release/CFATestBuild1.js', true);
    codeXHR.onload = function() {
      var code = codeXHR.responseText;
      if (!Math.fround) { 
        try {
          console.log('optimizing out Math.fround calls');
          var m = /var ([^=]+)=global\.Math\.fround;/.exec(code);
          var minified = m[1];
          if (!minified) throw 'fail';
          var startAsm = code.indexOf('// EMSCRIPTEN_START_FUNCS');
          var endAsm = code.indexOf('// EMSCRIPTEN_END_FUNCS');
          var asm = code.substring(startAsm, endAsm);
          do {
            var moar = false; // we need to re-do, as x(x( will not be fixed
            asm = asm.replace(new RegExp('[^a-zA-Z0-9\\$\\_]' + minified + '\\(', 'g'), function(s) { moar = true; return s[0] + '(' });
          } while (moar);
          code = code.substring(0, startAsm) + asm + code.substring(endAsm);
          code = code.replace("'use asm'", "'almost asm'");
        } 
        catch(e) { console.log('failed to optimize out Math.fround calls ' + e) }
      }

      var blob = new Blob([code], { type: 'text/javascript' });
      codeXHR = null;
      var src = URL.createObjectURL(blob);
      var script = document.createElement('script');
      script.src = URL.createObjectURL(blob);
      script.onload = function() {
      URL.revokeObjectURL(script.src);
      };
      document.body.appendChild(script);
    };
    codeXHR.send(null);
  }
</script>

<script>
	var sysUrl;
	function getURL(){
		console.log("Tried to send URL");
		sysUrl = "http://main-system-api.media.mit.edu/enclosure/1/";//'{{ sysUrl }}';
		SendMessage('Plantos', 'runApp', sysUrl.toString());
	};

	var aspect = 1.6;
	var canvas = document.getElementById("canvas");
	//window.addEventListener('resize', resizeCanvas);
	var gl = canvas.getContext("experimental-webgl");
	resizeCanvas();
	gl.viewport(0,0,gl.canvas.width, gl.canvas.height);

	function link_to_dashboard(sensor_index) {
		url = 'http://cityfarm.media.mit.edu/sensors/main_system/water/water_sensors_' + sensor_index.toString() + '/';
		window.open(url, '_blank');
	}

	function link_to_history(sensor_index, start_date, end_date) {
		console.log("called history");
		

		url = 'http://cityfarm.media.mit.edu/sensors/main_system/water/water_sensors_' + sensor_index.toString() + '/date_range_graphs.html?start_date=' + start_date + '&end_date=' + end_date;
		window.open(url, '_blank');
	}
</script>
<!--
<script>//Helper Functions
	var mySystem = '{{ current_database }}'
	var trayId;
	var mouse = new THREE.Vector3();
	function onClick(){
		if(!(PlantosRoot.node.hasOwnProperty("children"))){
			return;
		}
		if(intersects_now.length>0){
			//Gets clicked object
			clickedObject = intersects_now[0];
			Plantos.updateRootNode(PlantosRoot, clickedObject.object.node, clickable, structureList);
			moveCameraToObject(camera, PlantosRoot.node);
			Plantos.setOpacity(PlantosRoot.node, 1.0/Plantos.OpacityFactor)
			if(!("children" in PlantosRoot.node)){
				//page redirect
				var queryUrl = clickedObject.object.node.url;
				localStorage.setItem("queryUrl", queryUrl);
				trayId = queryUrl.split("/");
				trayId = trayId[trayId.length-2];
				var newUrl = "/" + mySystem + "/tray/" + trayId;
				console.log("New Query Here!");
				window.location.href = newUrl;
			}
		}
	}
	function moveCameraToObject(camera, node){
		camFOV = (Math.PI/180.0)*camera.fov;
		camFOVx = Math.atan(container.aspectRatio*Math.tan(camFOV/2))
		var zRelx = (node.length/2)*container.aspectRatio/2 / Math.tan(camFOVx);
		var zRely = (node.height/2) / Math.tan(camFOV/2);
		var zRelMax = Math.max(zRelx, zRely);
		var zOff = zRelMax+node.width;
		
		var xOff = 0;
		var yOff = zOff*Math.tan(-camera.rotation.x);
		cameraMove = true;
		if(node.model != null){
			xOff += node.length/2;
			yOff += node.height/2;
			zOff -= node.width/2;
		}
		cameraTarget.x = node.obj.position.x + xOff;
		cameraTarget.y = node.obj.position.y + yOff;
		cameraTarget.z = node.obj.position.z + zOff;
		//console.log(node.obj.position);
	}
</script>

<script>//Event Listeners
	window.addEventListener( 'mousemove', onMouseMove, false);
	window.addEventListener( 'resize', onWindowResize, false );
	window.addEventListener( 'click', onClick, false);
</script>

<script>//Render Loop
	var intersects_now = {};
	var intersected;
	var animate;
	var ray = new THREE.Raycaster();
	var render = function () {
		animate = requestAnimationFrame( render );
		renderer.render(scene, camera);
		ray.setFromCamera(mouse, camera);
		//ray.setSource(camera.position, mouse)
		intersected = intersects_now;
		intersects_now = ray.intersectObjects(clickable.children, true);

		guiFunc.currentSelection = PlantosRoot.node.name;
		
		//Update colors if necessary
		var hoverColor = new THREE.Color( 0xFFFF66 );
		if(intersects_now.length>0){
			if(intersected.length>0){
				if(intersects_now[0].object != intersected[0].object){
					setColor(intersected[0].object, intersected[0].object.originalColor);
					setColor(intersects_now[0].object, hoverColor);
				}
			}
			else{
				setColor(intersects_now[0].object, hoverColor);
			}
		}
		else{
			if(intersected.length>0){
				setColor(intersected[0].object, intersected[0].object.originalColor);
			}
		}

		//Move camera if necessary - FIND A BETTER WAY
		if(cameraMove){
			var moveSpeed = 0.5/6;
			if (Math.abs(camera.position.x-cameraTarget.x)<2*moveSpeed &&
				Math.abs(camera.position.y-cameraTarget.y)<2*moveSpeed &&
				Math.abs(camera.position.z-cameraTarget.z)<2*moveSpeed){
				cameraMove = false;
			}
			//move the camera ... find a better way, make a function
			else{
				if(camera.position.x>cameraTarget.x+moveSpeed){
					camera.position.x -= moveSpeed;
				}
				else if(camera.position.x<cameraTarget.x-moveSpeed){
					camera.position.x += moveSpeed;
				}
				
				if(camera.position.y>cameraTarget.y+moveSpeed){
					camera.position.y -= moveSpeed;
				}
				else if(camera.position.y<cameraTarget.y-moveSpeed){
					camera.position.y += moveSpeed;
				}
				
				if(camera.position.z>cameraTarget.z+moveSpeed){
					camera.position.z -= moveSpeed;
				}
				else if(camera.position.z<cameraTarget.z-moveSpeed){
					camera.position.z += moveSpeed;
				}
				
				camera.updateProjectionMatrix();
			}
		}	
	};
</script>


<script>
	function start(){
		moveCameraToObject(camera, PlantosRoot.node);
		camera.position.x = cameraTarget.x;
		camera.position.y = cameraTarget.y;
		camera.position.z = cameraTarget.z;
		//Initial Clikacable elements
		clickable = new THREE.Object3D();
		Plantos.addChildren(clickable, PlantosRoot.node);
		scene.add(clickable);
		PlantosRoot.node.obj.meshes.forEach(function(box){box.material.opacity = 0.4;});
		render();
	}
</script>


<script> //Setup (CityFarm)
	//Data Query
	//var enclosure = {{ queryData|safe }};
	//var aisle = enclosure["children"][0];
	var queryURL = '{{ sysUrl }}';

	var APIQueryData;
	var ASPECT_RATIO = 16.0/9.0;
	var clickable;

	//Set Root
	//PlantosRoot = new Plantos.Node(APIQueryData);
	//Setup canvas
	
	container.$canvas = $("#canvas");
	container.aspectRatio = ASPECT_RATIO;
	container.width = container.$canvas.width();
	container.height = (1.0/container.aspectRatio)*container.width;
	Plantos.setupCanvas();


	//Setup Page variables
	var structureList = new THREE.Object3D();
	scene.add(structureList);
	var cameraMove = false;
	var cameraTarget = new THREE.Vector3(camera.position);

	//Draw the structure
	$.ajax({
		async: false,
		type: 'GET',
		url: queryURL,
		success: function(data) {
			APIQueryData = jQuery.extend(true, {}, data);//data;
			PlantosRoot = new Plantos.Node(data);
			Plantos.recursiveCounter = 1;
			drawTree(PlantosRoot.node, structureList, [0,0,0], "No Parent");
		}
	});
</script>

<script>//DAT.GUI

	var gui = new dat.GUI({autoPlace:false});
	var customContainer = document.getElementById('datGui');
	customContainer.appendChild(gui.domElement);
	
	var bigViewGui = function(){
		this.backCam = function(){
			if(PlantosRoot.node.parent != "No Parent"){
				Plantos.setOpacity(PlantosRoot.node, Plantos.OpacityFactor);
				Plantos.updateRootNode(PlantosRoot, PlantosRoot.node.parent, clickable, structureList);
				moveCameraToObject(camera, PlantosRoot.node);
				
			}
		};
		this.go = function(){
			start();
		};
		this.currentSelection = PlantosRoot.node.name;
		this.testPlant = "Tomato";
		this.testSownDate = "5/4/2015"
	}
	var guiFunc = new bigViewGui();
	
	gui.add(guiFunc, 'currentSelection').listen();//.name("Current Selection");
	
	//var f2 = gui.addFolder('Plant');
	//f2.add(guiFunc, 'testPlant').name("Type");
	//f2.add(guiFunc, 'testSownDate').name("Date Sown");
	var f3 = gui.addFolder('Controls');
	f3.add(guiFunc, 'backCam').name("Zoom Out");
	//f2.open();
	f3.open();

</script>

<script>

	var PLANT_SITE_STRING = "plant_sites";
	/*
	class plantosObject{
		var url;
		var name;
		var x;
		var y;
		var z;
		var length;
		var width;
		var height;
		var children;
		var sites;
		function plantosObject(node){
			this.url = node.url;
			this.name = node.name;
			this.x = node.x;
			this.y = node.y;
			this.z = node.z;
			this.length = node.length;
			this.width = node.width;
			this.height = node.height;
			this.children = [];
			this.sites = [];
			if("children" in node){
				node.children.forEach(function(child){
					this.children.push(new plantosObject(child))
				});
			}
			/* TODO: Implement sites
			else if("plant_sites" in node){
				node.plant_sites.forEach(function(site){
					this.sites.push(new plantosSite(site))
				});
			}
			

		}
	}
	*/

	function queryToUnity(x){
		console.log(JSON.stringify(x));
	}
</script>
-->
{% endblock %}