{% extends "base.html" %}

{% block page %}
{{ macros.UIJavascript() }}
<style>
	#canvas{
		position:static;
	}
</style>
<div class="container-fluid" id="contFl">
	<div class="row">
		<div class="col-md-8">
			<div id="canvas">
			</div>
		</div>
		<div class="col-md-3"
			<div id="datGui">
			</div>
		</div>
	</div>
</div>

<script>//Helper Functions
	var mySystem = '{{ current_database }}'
	var trayId;
	var mouse = new THREE.Vector3();
	function onClick(){
		if(!(PlantosRoot.node.hasOwnProperty("children"))){
			return;
		}
		if(intersects_now.length>0){
			//Gets clicked object
			clickedObject = intersects_now[0];
			Plantos.updateRootNode(PlantosRoot, clickedObject.object.node, clickable, structureList);
			moveCameraToObject(camera, PlantosRoot.node);
			Plantos.setOpacity(PlantosRoot.node, 1.0/Plantos.OpacityFactor)
			if(!("children" in PlantosRoot.node)){
				//page redirect
				var queryUrl = clickedObject.object.node.url;
				localStorage.setItem("queryUrl", queryUrl);
				trayId = queryUrl.split("/");
				trayId = trayId[trayId.length-2];
				var newUrl = "/" + mySystem + "/tray/" + trayId;
				console.log("New Query Here!");
				window.location.href = newUrl;
			}
		}
	}
	function moveCameraToObject(camera, node){
		camFOV = (Math.PI/180.0)*camera.fov;
		camFOVx = Math.atan(container.aspectRatio*Math.tan(camFOV/2))
		var zRelx = (node.length/2)*container.aspectRatio/2 / Math.tan(camFOVx);
		var zRely = (node.height/2) / Math.tan(camFOV/2);
		var zRelMax = Math.max(zRelx, zRely);
		var zOff = zRelMax+node.width;
		
		var xOff = 0;
		var yOff = zOff*Math.tan(-camera.rotation.x);
		cameraMove = true;
		if(node.model != null){
			xOff += node.length/2;
			yOff += node.height/2;
			zOff -= node.width/2;
		}
		cameraTarget.x = node.obj.position.x + xOff;
		cameraTarget.y = node.obj.position.y + yOff;
		cameraTarget.z = node.obj.position.z + zOff;
		//console.log(node.obj.position);
	}
</script>

<script>//Event Listeners
	window.addEventListener( 'mousemove', onMouseMove, false);
	window.addEventListener( 'resize', onWindowResize, false );
	window.addEventListener( 'click', onClick, false);
</script>

<script>//Render Loop
	var intersects_now = {};
	var intersected;
	var animate;
	var ray = new THREE.Raycaster();
	var render = function () {
		animate = requestAnimationFrame( render );
		renderer.render(scene, camera);
		ray.setFromCamera(mouse, camera);
		//ray.setSource(camera.position, mouse)
		intersected = intersects_now;
		intersects_now = ray.intersectObjects(clickable.children, true);

		guiFunc.currentSelection = PlantosRoot.node.name;
		
		//Update colors if necessary
		var hoverColor = new THREE.Color( 0xFFFF66 );
		if(intersects_now.length>0){
			if(intersected.length>0){
				if(intersects_now[0].object != intersected[0].object){
					setColor(intersected[0].object, intersected[0].object.originalColor);
					setColor(intersects_now[0].object, hoverColor);
				}
			}
			else{
				setColor(intersects_now[0].object, hoverColor);
			}
		}
		else{
			if(intersected.length>0){
				setColor(intersected[0].object, intersected[0].object.originalColor);
			}
		}

		//Move camera if necessary - FIND A BETTER WAY
		if(cameraMove){
			var moveSpeed = 0.5/6;
			if (Math.abs(camera.position.x-cameraTarget.x)<2*moveSpeed &&
				Math.abs(camera.position.y-cameraTarget.y)<2*moveSpeed &&
				Math.abs(camera.position.z-cameraTarget.z)<2*moveSpeed){
				cameraMove = false;
			}
			//move the camera ... find a better way, make a function
			else{
				if(camera.position.x>cameraTarget.x+moveSpeed){
					camera.position.x -= moveSpeed;
				}
				else if(camera.position.x<cameraTarget.x-moveSpeed){
					camera.position.x += moveSpeed;
				}
				
				if(camera.position.y>cameraTarget.y+moveSpeed){
					camera.position.y -= moveSpeed;
				}
				else if(camera.position.y<cameraTarget.y-moveSpeed){
					camera.position.y += moveSpeed;
				}
				
				if(camera.position.z>cameraTarget.z+moveSpeed){
					camera.position.z -= moveSpeed;
				}
				else if(camera.position.z<cameraTarget.z-moveSpeed){
					camera.position.z += moveSpeed;
				}
				
				camera.updateProjectionMatrix();
			}
		}	
	};
</script>


<script>
	function start(){
		moveCameraToObject(camera, PlantosRoot.node);
		camera.position.x = cameraTarget.x;
		camera.position.y = cameraTarget.y;
		camera.position.z = cameraTarget.z;
		//Initial Clikacable elements
		clickable = new THREE.Object3D();
		Plantos.addChildren(clickable, PlantosRoot.node);
		scene.add(clickable);
		PlantosRoot.node.obj.meshes.forEach(function(box){box.material.opacity = 0.4;});
		render();
	}
</script>


<script> //Setup (CityFarm)
	//Data Query
	//var enclosure = {{ queryData|safe }};
	//var aisle = enclosure["children"][0];
	var queryURL = '{{ sysUrl }}';

	var APIQueryData;
	var ASPECT_RATIO = 16.0/9.0;
	var clickable;

	//Set Root
	//PlantosRoot = new Plantos.Node(APIQueryData);
	//Setup canvas
	
	container.$canvas = $("#canvas");
	container.aspectRatio = ASPECT_RATIO;
	container.width = container.$canvas.width();
	container.height = (1.0/container.aspectRatio)*container.width;
	Plantos.setupCanvas();


	//Setup Page variables
	var structureList = new THREE.Object3D();
	scene.add(structureList);
	var cameraMove = false;
	var cameraTarget = new THREE.Vector3(camera.position);

	//Draw the structure
	$.ajax({
		async: false,
		type: 'GET',
		url: queryURL,
		success: function(data) {
			APIQueryData = jQuery.extend(true, {}, data);//data;
			PlantosRoot = new Plantos.Node(data);
			Plantos.recursiveCounter = 1;
			drawTree(PlantosRoot.node, structureList, [0,0,0], "No Parent");
		}
	});
</script>

<script>//DAT.GUI

	var gui = new dat.GUI({autoPlace:false});
	var customContainer = document.getElementById('datGui');
	customContainer.appendChild(gui.domElement);
	
	var bigViewGui = function(){
		this.backCam = function(){
			if(PlantosRoot.node.parent != "No Parent"){
				Plantos.setOpacity(PlantosRoot.node, Plantos.OpacityFactor);
				Plantos.updateRootNode(PlantosRoot, PlantosRoot.node.parent, clickable, structureList);
				moveCameraToObject(camera, PlantosRoot.node);
				
			}
		};
		this.go = function(){
			start();
		};
		this.currentSelection = PlantosRoot.node.name;
		this.testPlant = "Tomato";
		this.testSownDate = "5/4/2015"
	}
	var guiFunc = new bigViewGui();
	
	gui.add(guiFunc, 'currentSelection').listen();//.name("Current Selection");
	
	//var f2 = gui.addFolder('Plant');
	//f2.add(guiFunc, 'testPlant').name("Type");
	//f2.add(guiFunc, 'testSownDate').name("Date Sown");
	var f3 = gui.addFolder('Controls');
	f3.add(guiFunc, 'backCam').name("Zoom Out");
	//f2.open();
	f3.open();

</script>

<script>

	var PLANT_SITE_STRING = "plant_sites";
/*
	class plantosObject{
		var url;
		var name;
		var x;
		var y;
		var z;
		var length;
		var width;
		var height;
		var children;
		var sites;
		function plantosObject(node){
			this.url = node.url;
			this.name = node.name;
			this.x = node.x;
			this.y = node.y;
			this.z = node.z;
			this.length = node.length;
			this.width = node.width;
			this.height = node.height;
			this.children = [];
			this.sites = [];
			if("children" in node){
				node.children.forEach(function(child){
					this.children.push(new plantosObject(child))
				});
			}
			/* TODO: Implement sites
			else if("plant_sites" in node){
				node.plant_sites.forEach(function(site){
					this.sites.push(new plantosSite(site))
				});
			}
			

		}
	}
	*/

	function queryToUnity(x){
		console.log(JSON.stringify(x));
	}
</script>

{% endblock %}