{% extends "base.html" %}
{% set short_title = "Deleting a Plant Type" %}
{% set long_title = "Are you sure you want to delete plant type "
                    + plant_type.common_name + "? This will also delete all " +
                    "plants of this type." %}
{% set back_link = "/plants/types/" + plant_type.common_name %}

{% block content %}
    <form method="post" class="text-center">
        <a class="btn btn-primary" href="{{back_link}}">Cancel</a>
        <input type="submit" class="btn btn-primary" value="Confirm">
    </form>
{% endblock %}
