{% extends "base.html" %}
{% if plant_id %}
  {% set short_title = "Editing a Plant" %}
  {% set long_title = "Editing Plant " + plant_id|e %}
  {% set back_link = url_for("plants.view_plant", id=plant_id) %}
{% else %}
  {% set short_title = "New Plant" %}
  {% set long_title = "Creating a New Plant" %}
  {% set back_link = url_for("plants.index") %}
{% endif %}

{% import "macros.html" as macros %}
{% block scripts %}
{{ super() }}
{{ macros.datetimepicker() }}
{% endblock %}

{% block content %}
  {{ macros.render_form(form) }}
{% endblock %}
