{% extends "base.html" %}
{% set short_title = plant_type["common_name"] %}
{% set long_title = plant_type["common_name"] %}
{% set back_link = url_for("plants.index") %}

{% import "plants/macros.html" as plant_macros %}
{% block scripts %}
  {{ super() }}
  {{ plant_macros.plants_js() }}
  {{ plant_macros.info_cells_css() }}
  {{ plant_macros.url_constants() }}
  <script type="text/javascript">
    $(function() {
      render_plants($('#plants'), {type_id: "{{ plant_type.id }}"});
    });
  </script>
{% endblock %}

{% block content %}
  <div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">Info</h3></div>
    <div class="panel-body">
      {% macro show_prop(prop, title) %}
        <label for="{{ prop }}">{{ title }}: </label>
        <span id="{{ prop }}">{{ plant_type[prop] }}</span>
        <br />
      {% endmacro %}
      {% macro show_range_prop(prop, title) %}
        <label for="{{ prop }}">{{ title }}: </label>
        <span id="{{ prop }}">{{ plant_type[prop].to_string() }}</span>
        <br />
      {% endmacro %}
      {{ show_prop("latin_name", "Latin Name") }}
      {{ show_prop("cultivar", "Cultivar") }}
      {{ show_range_prop("conv_dtg", "Conventional Days To Germination") }}
      {{ show_range_prop("conv_dtm", "Conventional Days To Maturity") }}
      {{ show_prop("native_to", "Native To") }}
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">
      Plants of This Type
    </h3></div>
    <div id="plants" class="panel-body">
    </div>
  </div>
  <a class="btn btn-default" href="{{ url_for('plants.edit_plant_type',
    id=plant_type.id) }}">Edit</a>
  <button class="btn btn-default" data-toggle="modal" data-target="#delete">
    Delete
  </button>
  <div class="modal fade" id="delete" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete</h4>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this plant type? This will also
          delete all plants of this type.
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">
            Cancel
          </button>
          <button class="btn btn-default" onclick="delete_plant_type()">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    function delete_plant_type() {
      $.post("{{ url_for('plants.delete_plant_type', id=plant_type.id) }}",
          function(res) {
        window.location.href = "{{ back_link }}";
      });
    }
  </script>
{% endblock %}
